OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
DEEPSEEK_API_KEY=sk-dcf56c3524fc4e30854bf33aec24bf1a
TAVILY_API_KEY=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
LANGSMITH_API_KEY=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
LANGSMITH_PROJECT=open_deep_research
LANGSMITH_TRACING=true

# Only necessary for Open Agent Platform
SUPABASE_KEY=
SUPABASE_URL=
# Should be set to true for a production deployment on Open Agent Platform. Should be set to false otherwise, such as for local development.
GET_API_KEYS_FROM_CONFIG=false